<form class='greetingForm' method="post" action="/reg_numbers">
  Registration number :<input type="text" name="reg_number" placeholder="Please enter reg number"></input>
  <input type='submit'name:'submit'></input>
  <br />
  <div class=radios>
    <input type="radio" name="town" value="cape_town">Cape Town</input>
    <input type="radio" name="town" value="bellville">Bellville</input>
    <input type="radio" name="town" value="malmesbury">Malmesbury</input>
    <br />
    <input type ="submit"  name="submit">
  </div>
</form>

<br />
{{#each reg_numbers}}
  <div class="reg">
    {{this}}
  </div>
{{/each}}
